@font-face{
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable.ttf') format('truetype');
}


body{
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1{
    font-size: 1.6rem;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: 500;
    color:rgb(70, 130, 180)
}

#sobre{
    padding: 60px 20px;
    background-color: #f0f4f8;
}

.foto-perfil{
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

#sobre .container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#sobre h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#sobre p{
    font-size: 1.1rem;
    line-height: 1.6;
}

.glass-card{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    backdrop-filter:  blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contato-container {
    background-color: #d9e4e0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item-contato {
    margin-top: 20px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
    margin-bottom: 20px;
}

.item-contato img{
    width: 60px;
}

.item-contato p{
    margin: 5px 0;
}